/* CSS Document */
body, td, th, p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5; }

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative; }

ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333; }

.skip-link {
  position: absolute;
  top: -50px;
  left: 0;
  background: #82420d;
  color: white;
  padding: 8px;
  z-index: 100; }

.skip-link:focus {
  top: 0; }

/*Min width and height for tap links*/
nav, a, button {
  min-width: 48px; }

/* Prevent overflow*/
img, embed, object, video {
  max-width: 100%; }

a {
  color: #82420d;
  text-decoration: none; }

.centered {
  text-align: center; }

a:hover, a:focus {
  color: #3397db;
  text-decoration: none; }

a img {
  border: none 0px #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px; }

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%; }

#footer {
  background-color: #444;
  color: #dbdbdb;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase; }

#footer a {
  color: #fedc9f; }

#footer a:hover {
  text-decoration: underline; }

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align: center; }

nav h1 {
  margin: auto;
  padding-top: 20px; }

nav h1 a {
  color: #fff;
  font-size: 16pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase; }

#breadcrumb {
  padding: 10px 40px 16px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  max-width: 100%; }

/* Display list items side by side */
#breadcrumb li {
  display: inline; }

@media screen and (min-width: 950px) {
  #breadcrumb li {
    font-size: 12pt; } }

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0"; }

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #024A8D;
  text-decoration: none; }

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline; }

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc; }

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 30%;
  /*50px*/
  background-color: #252831;
  align-items: center; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  padding-top: 10px; }

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 30px;
  letter-spacing: 0;
  margin: 10px 0px 10px 10px;
  padding: 0 10px;
  width: 200px; }

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  /* For responsive */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /*Important for general align list in page  */ }

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 15px;
  font-family: Arial,sans-serif;
  margin: 10px;
  min-height: 350px;
  text-align: left;
  max-width: 300px;
  min-width: 270px; }

@media screen and (min-width: 0px) {
  #restaurants-list li {
    margin-top: 10px;
    max-width: 80%; }
  nav {
    height: 90px; } }

@media screen and (min-width: 695px) {
  #restaurants-list li {
    margin: 10px;
    min-width: 300px;
    max-width: 300px; }
  #footer {
    font-size: 10pt; }
  nav {
    height: 80px; } }

@media screen and (min-width: 1019px) {
  #restaurants-list li {
    margin-left: 5px;
    margin-right: 5px; }
  nav h1 a {
    font-size: 18pt; } }

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  border: 0px;
  border-radius: 15px 15px 0 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%; }

.restaurant-text {
  min-height: 120px;
  max-height: 120px; }

.restaurant-button {
  display: flex;
  justify-content: center;
  align-items: center; }

.restaurant-favourite {
  color: black;
  display: flex;
  justify-content: right;
}

#restaurants-list li h1 {
  color: black;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 5px 10px;
  text-transform: uppercase;
  word-break: break-all; }

#restaurants-list p {
  margin: 0 10px;
  font-size: 12pt;
  word-break: break-all; }

#restaurants-list li button {
  background-color: #82420d;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  font-size: 12pt;
  margin-bottom: 20px;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }

#restaurants-list li button:hover {
  cursor: pointer; }

/* ====================== Restaurant Details ====================== */
.inside header {
  width: 100%;
  z-index: 1000; }

.inside #map-container {
  background: blue none repeat scroll 0 0;
  width: 100%;
  height: 250px; }

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%; }

.inside #footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #dbdbdb; }

.inside #footer a {
  color: #fedc9f; }

.inside #footer a:hover {
  text-decoration: underline; }

#restaurant-name {
  color: white;
  background-color: #333;
  font-family: Arial,sans-serif;
  font-size: 25pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1; }

#restaurant-address {
  font-size: 14pt;
  text-align: center; }

#restaurant-hours {
  margin: 0 auto; }

@media screen and (min-width: 0px) {
  #restaurant-img {
    min-width: 200px;
    max-width: 100%;
    height: auto; }
  #restaurant-name {
    font-size: 20pt; } }

@media screen and (min-width: 750px) {
  #restaurant-img {
    max-width: 100%; }
  #restaurant-img-cousine {
    margin: 0 auto; }
  #restaurant-name {
    font-size: 27pt; }
  #restaurant-address {
    font-size: 18pt;
    margin-bottom: 15px; } }

@media screen and (min-width: 950px) {
  #restaurant-hours td {
    font-size: 16pt; }
  #restaurant-address {
    font-size: 20pt; }
  #restaurant-name {
    font-size: 30pt; }
  #restaurant-address {
    font-size: 20pt;
    margin-bottom: 20px; } }

#restaurant-img-cousine {
  min-width: 200px; }

#restaurant-cuisine {
  background-color: #333;
  color: white;
  font-size: 15pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%; }

@media screen and (min-width: 950px) {
  #restaurant-cuisine {
    font-size: 17pt; } }

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  border-radius: 25px;
  padding: 10px 40px 40px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-start; }

#reviews-container {
  padding: 30px 40px 80px; }

#reviews-container h2 {
  color: #82420D;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: 5px;
  padding-bottom: 1pt;
  text-transform: uppercase; }

#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center; }

#reviews-list li {
  background-color: #fff;
  border: 1px solid #888;
  /*#f3f3f3*/
  border-radius: 25px;
  display: block;
  list-style-type: none;
  margin-top: 10px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
  word-break: break-word; }

#reviews-list li p {
  margin: 10px 0 10px;
  font-family: Arial,sans-serif; }

#reviews-list li p span {
  padding-left: 5px;
  color: #e48C38; }

.review-name {
  color: black;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 15px 15px 0 30px;
  line-height: 1.1; }

.review-comment {
  color: black;
  font-size: 11pt; }

.review-date {
  font-size: 11pt; }

.review-rating {
  font-size: 11pt; }

@media screen and (min-width: 750px) {
  .review-name {
    font-size: 15pt; }
  .review-comment {
    font-size: 12pt; }
  .review-date {
    font-size: 12pt; }
  .review-rating {
    font-size: 12pt; } }

@media screen and (min-width: 950px) {
  .review-name {
    font-size: 17pt; }
  .review-comment {
    font-size: 14pt; }
  .review-date {
    font-size: 14pt; }
  .review-rating {
    font-size: 14pt; } }

#restaurant-hours td {
  color: black;
  padding-left: 10px;
  font-size: 12pt; }

@media screen and (min-width: 0px) {
  #restaurant-hours td {
    padding-left: 0px; } }

@media screen and (min-width: 750px) {
  #restaurant-hours td {
    font-size: 14pt;
    padding-left: 10px; } }

@media screen and (min-width: 950px) {
  #restaurant-hours td {
    padding-left: 30px;
    font-size: 16pt; } }

#restaurant-hours .day {
  color: black; }
